<div style="padding: 13px;">
  <mat-spinner *ngIf="products.length === 0"></mat-spinner>

  <mat-card *ngFor="let product of products" style="margin-top: 10px;">
    <mat-card-header>
      <mat-card-title>#{{product.id}} {{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.price }} $/ {{ product.quantity }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ product.description }}
      </p>
      <img
        alt=""
        style="height: 100%; width:100%;"
        src="{{ product.imageUrl }}"
      />
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="buyProduct(product.id)">Buy product</button>
    </mat-card-actions>
  </mat-card>
</div>
<div>
  <button (click)="firstPage()" mat-raised-button color="primary">Fitst</button>
  <button (click)="previousPage()" mat-raised-button color="primary">Previous</button>
  <button (click)="nextPage()" mat-raised-button color="primary">Next</button>
  <button (click)="lastPage()" mat-raised-button color="primary">Last</button>
</div>
